# Dependencies
node_modules/
lib/
# Build
out/
broadcast/
.ruff_cache/
artifacts/
cache/
target/
dist/
build/
# Env
.env
.env.local
# IDE
.vscode/
.idea/
# OS
.DS_Store
# Python
__pycache__/
*.pyc
.venv/
